.d-block{
    height: 300px;
}
body{
    background-color: aqua;
}

nav ul li{
    list-style: none;
    text-align: center;
}
.fotoModelo {
    background-color: aquamarine;
    position: absolute;
    top: 8px;
    right: 16px;
  }
  .fotoPrecio {
    background-color: aquamarine;
    position: absolute;
    top: 30px;
    right: 16px;
  }
  .fotoKm {
    background-color: aquamarine;
    position: absolute;
    top: 52px;
    right: 16px;
  }

